# PostgreSQL (port 5433)
DATABASE_URL=postgresql://supervision_user:supervision_pass@192.168.1.103:5433/supervision_db

# InfluxDB
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=
INFLUXDB_ORG=supervision
INFLUXDB_BUCKET=metriques

# JWT
JWT_SECRET=
JWT_EXPIRE_HOURS=24

# Prometheus
PROMETHEUS_URL=http://localhost:9090

# Telegram (à remplir plus tard)
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# SMTP (à remplir plus tard)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
RESEAU_PLAGE=192.168.1.0/24