aiodns==3.6.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-cors==0.8.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
asttokens==3.0.0
asyncpg==0.31.0
attrs==25.4.0
beautifulsoup4==4.14.3
binwalk==2.3.4
blivet==3.12.1
Brlapi==0.8.7
Brotli==1.2.0
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-360.1-build/cockpit-360.1/tmp/wheel/cockpit-360.1-py3-none-any.whl#sha256=7ce868b58854dd32e336f23a9779654e5b0bfa20956c83c8331f25e6d706112c
configshell-fb==2.0.2
contourpy==1.3.3
crypt_r==3.13.1
cryptography==46.0.7
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dataclasses==0.6
dbus-python==1.4.0
dbus_next==0.2.3
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
dnf==4.24.0
executing==2.2.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.25.2
fonttools==4.61.0
frozenlist==1.8.0
gns3-gui==2.2.58.1
gns3-server==2.2.58.1
h11==0.16.0
helpdev==0.7.1
httpcore==1.0.9
httpie==3.2.4
httpx==0.28.1
humanize==4.13.0
idna==3.10
ipython==8.37.0
iso639==0.1.4
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.5.0
kmod==0.9.2
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
libsass==0.23.0
libvirt-python==11.6.0
louis==3.33.0
lxml==6.0.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
matplotlib-inline==0.1.7
mdurl==0.1.2
multidict==6.6.4
networkx==3.6.1
nftables==0.1
ntpsec==1.2.4
numpy==2.3.5
olefile==0.47
packaging==25.0
parso==0.8.5
pcapy==0.11.5.dev0
pcp==7.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
platformdirs==4.9.4
ply==3.11
productmd==1.50
prompt_toolkit==3.0.41
propcache==0.4.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
PyAudio==0.2.13
pycairo==1.28.0
pycares==4.10.0
pycparser==2.22
pycups==2.0.4
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
pyenchant==3.2.2
Pygments==2.19.1
PyGObject==3.54.5
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
pyparsing==3.1.2
pyparted==3.13.0
PyQt6==6.11.0
PyQt6_sip==13.10.2
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-discovery==1.1.3
python-dotenv==1.2.2
python-linux-procfs==0.7.3
python-meh==0.52
python-nmap==0.7.1
python-pam==2.0.2
pyudev==0.24.3
PyX==0.16
pyxdg==0.28
PyYAML==6.0.2
QDarkStyle==3.2.3
QtPy==2.4.3
qtsass==0.4.0
RapidFuzz==3.12.2
referencing==0.36.2
regex==2026.2.28
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-toolbelt==1.0.0
rich==14.1.0
rpds-py==0.27.0
rpm==6.0.1
rtslib-fb==2.2.3
scapy==2.7.0
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setuptools==78.1.1
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.11.0
soupsieve==2.8
stack_data==0.6.3
systemd-python==235
targetcli==3.0.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.2.0
watchdog==6.0.0
wcwidth==0.6.0
xkbregistry==0.3
yarl==1.22.0
zombie-imp==0.0.3
